<#@ template language="C#" #>
<#
 string Version = "2.0.0.0";
#>
using System;
using System.Reflection;

[assembly: AssemblyTitle("Cafe.Matcha")]
[assembly: AssemblyDescription("Cafe.Matcha")]
[assembly: AssemblyCompany("FFCafe")]
[assembly: AssemblyVersion("<#=Version#>")]
[assembly: AssemblyCopyright("Copyright © FFCafe <#=DateTime.Now.Year#>")]

namespace Cafe.Matcha
{
    partial class Data {
        public const string Version = "<#=Version#>";
    }
}